<%if session[:code]%>
  You have been authorized wit the code <%=session[:code]%>
<%else%>
  You have not been authorized yet.
  <%= link_to @authorize_link %>
<%end%>
<br />
<br />
<h2>Add task to:</h2>
<%= form_tag(search_tweets_path, method: "get") do %>
  <%= label_tag(:hashtag, "Twitter handler:") %>
  <%= text_field_tag(:hashtag) %>
  <%if @projects.nil?
    @projects = [["Test Project" , "1352964"]]
  end%>
  <%if @task_lists.nil?
    @task_lists = [["Task List" , "2754253"]]
  end%>
  <%=select_tag "project_id" ,options_for_select(@projects)%>
  <%=select_tag "task_list_id" , options_for_select(@task_lists)%>
  <%= label_tag(:name, "Task Name:") %>
  <%= text_field_tag(:name) %>
  <%= submit_tag("Search") %>
<% end %>


<% if @handlers %>
  <p>Handlers working : <%=@handlers.count %><%= button_to "Delete all jobs", action: "remove_all_jobs" %></p>
<%else%>
  No handlers in Redis yet.
<%end%>
<br />
<h1>Last tweets found</h1>

<table>
  <tr>
    <th>Message</th>
    <th>Tweet</th>
    <th>Author</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @tweets.each do |tweet| %>
  <tr>
    <td><%= tweet.message %></td>
    <td><%= tweet.tweet_id %></td>
    <td><%= tweet.author %></td>
    <td><%= link_to 'Show', tweet %></td>
    <td><%= link_to 'Edit', edit_tweet_path(tweet) %></td>
    <td><%= link_to 'Destroy', tweet, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

